#row1 div{
  -webkit-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  box-shadow: 0px 0px 29px -1px rgba(0,0,0,0.32);
  margin: 10px;
}

#row1 div p{
  text-align: center;
}

.progressIcon{
  font-size: 30px;
}

.learn-progress{
  width: 300px;
  margin-left: 10px;
}

.skills-container{
  padding: 30px;
}
.skills-container h3{
  margin-bottom: 20px;
}
#block{
  margin: 10px;
}
.js-width{
  width:12%;
}
