body {
  overflow: hidden; /* Hide scrollbars */
}

p{
    margin: 0px;
}

/*Box handling*/
#selectionBox{
    left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    flex:1;
}

/*Inside Boxes*/
.innerBox{
    width:auto;
    padding: 20px;
    transition: all .5s;

    /*Background Stuff*/
    background-repeat: no-repeat;
    background-size: 150%;
}

/*Individual*/
#oscar{
    background-image: url("Oscar.jpg");
    padding-bottom: 30px;
}
#oscar h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

#eren{
    background-image: url("Eren.jpg");
    padding-top: 10px;
    padding-bottom: 20px;
}
#eren h2{
    font-size: 34px;
    line-height: 40px;
}
#eren p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#alex{
    background-image: url("Alex.jpg");
    padding-bottom: 13px;
}
#alex h2{
    font-size: 39px;
    margin-top: 40;
    margin-bottom: 10px;
}

#eren2{
    background-image: url("Eren 2.jpg");
}
#eren2 h2{
    font-size: 35px;
    margin-bottom: 20px;
}

#samir{
    background-image: url("Samir.jpg");
    padding-bottom: 8px;
}
#samir h2{
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 20px;
}

#edwin{
    background-image: url("Edwin.jpg");
}
#edwin h2{
    margin-top: 40px;
    font-size: 36px;
    margin-bottom: 25px;
}

#edwin2{
    background-image: url("Edwin 2.jpg");
}
#edwin2 h2{
    font-size: 38px;
    margin-bottom: 17px;
}

.innerBox:hover{
    transform: scale(1.05);
    box-shadow: 5px 24px 30px 0px rgba(0,0,0,0.33);
}
.innerBox h2{
    font-family: Lato;
    color: white;
    margin:0px;
    margin-top: 50px;
}
.innerBox p{
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    line-height: 50px;
    color: white;
}


/*Some text stuff*/
.mainBox{
    padding: 10px;
}
#mainIdeas{
    font-family: Lato;
    color: black;

    text-align: right;
    font-size: 60px;
    position: relative;
    top: 30px;
    right: 20px;
}
